{% extends "layouts/base.html" %}

{% block title %} Template Page {% endblock %}

{% block body_class %} index-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation.html' %}

  <div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
            <h1 class="text-white">Worker: {{ worker.username }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
      <div class="section text-center">
        {% if user.id == worker.id %}
          <h2 class="title">Your profile</h2>
        {% else %}
          <h2 class="title">Worker info</h2>
        {% endif %}
        <table class="table">
          <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Position</th>
            {% if user.id == worker.id %}
              <th>Update</th>
              <th>Change password</th>
              <th>Delete</th>
            {% endif %}
          </tr>
            <tr>
              <td>
                {{ worker.id }}
              </td>
              <td>
                {{ worker.first_name }}
              </td>
              <td>
                {{ worker.last_name }}
              </td>
              <td>
                {{ worker.email }}
              </td>
              <td>
                {{ worker.position }}
              </td>
              {% if user.id == worker.id %}
                <td>
                  <button type="button" onclick="window.location.href='{% url 'task-manager:worker-update' pk=worker.id %}'" class="btn bg-gradient-secondary btn-sm">Update</button>
                </td>
                <td>
                  <button type="button" onclick="window.location.href='{% url 'authentication:password_change' %}'" class="btn bg-gradient-secondary btn-sm">Change password</button>
                </td>
                <td>
                  <button type="button" onclick="window.location.href='{% url 'task-manager:worker-delete' pk=worker.id %}'" class="btn bg-gradient-primary btn-sm">Delete</button>
                </td>
              {% endif %}
          </tr>
        </table>
        <div class="text-center">
            <button type="button" onclick="window.location.href='{% url 'task-manager:worker-list' %}'" class="btn btn-lg bg-gradient-faded-white btn-lg w-100 mt-4 mb-0">Back</button>
          </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
